<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sabrina's Christmas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='./images/hehe/ball-1906468_1280-removebg-preview.png') }}" class="overlay" id="image1" alt="Hanging Lights">
    <img src="{{ url_for('static', filename='./images/hehe/ball-1906468_1280-removebg-preview.png') }}" class="overlay" id="image2" alt="Hanging lights">
    <img src="{{ url_for('static', filename='./images/hehe/holly.png') }}" class="overlay" id="image3" alt="holly">
    <img src="{{ url_for('static', filename='./images/hehe/holly.png') }}" class="overlay" id="image4" alt="Holly">

    <header>
        <h1>Sabrina's Christmas</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('blog_home') }}">Home</a></li>
                <li><a href="{{ url_for('blog_gallery') }}">Gallery</a></li>
                <li><a href="{{ url_for('blog_wishlist') }}">Wish-List</a></li>
                <li><a href="{{ url_for('blog_friends') }}">Friends</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <img src="{{ url_for('static', filename='./images/snowprints.jpg') }}" alt="Snowprints">
        <h2>Christmas</h2>
        <p>Welcome, my dearest friends. I've had so much fun with you all this year.<br> 
            Let's make the next year even better. However, first comes Christmas the month of giving.</p>
    </main>
    <footer>
        <p>© 2023 by Sabrina</p>
    </footer>
</body>
</html>