<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Album</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gallery.css') }}">
</head>
<body>
    <header>
        <h1>Sabrina's Christmas</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('blog_home') }}">Home</a></li>
                <li><a href="{{ url_for('blog_gallery') }}">Gallery</a></li>
                <li><a href="{{ url_for('blog_wishlist') }}">Wish-List</a></li>
                <li><a href="{{ url_for('blog_friends') }}">Friends</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>PHOTO ALBUM</h2>
        <p>An album filled with everyone that has made this year absolutely amazing!</p>
        <div class="photo-grid">
            <div class="photo"><img src="{{ url_for('static', filename='./images/aud4.jpg') }}" alt="Audrey"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/alan.jpg') }}" alt="Alan"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/alan2.jpg') }}" alt="Alan"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/aud5.jpg') }}" alt="Audrey"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/ethan2.png') }}" alt="Audrey"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/audnidansab.jpg') }}" alt="group"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/audrey.jpg') }}" alt="Audrey"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/audrey1.jpg') }}" alt="Audrey"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/audrey2.jpg') }}" alt="Audrey"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/audrey3.jpg') }}" alt="Audrey"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/stryder2.jpg') }}" alt="Daisy"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/daniel.jpg') }}" alt="Daniel"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/group.jpg') }}" alt="group"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/murphy.png') }}" alt="Murphy"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/nico.jpg') }}" alt="nico"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/group4.jpg') }}" alt="group"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/noahren.jpg') }}" alt="Noah & Ren"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/nonisaau.jpg') }}" alt="Noah Nico Sab Aud"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/sabaud.jpg') }}" alt="Sabrina Audrey"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/sabaud2.jpg') }}" alt="Sabrina Audrey"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/ren2.0.png') }}" alt="Ren"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/ren2.1.png') }}" alt="Ren"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/renup.png') }}" alt="Ren"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/noahdemon.png') }}" alt="Noah"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/jacobupside.png') }}" alt="Jacob"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/nicosab.png') }}" alt="Sabrina Nico"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/ethanup.png') }}" alt="Ethan"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/group2.png') }}" alt="Group"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/group3.png') }}" alt="Group"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/noahup.png') }}" alt="Noah"></div>
            <div class="photo"><img src="{{ url_for('static', filename='./images/trio.jpg') }}" alt="Trio"></div>
        </div>
    </main>
    
    <footer>
        <p>© 2023 by Sabrina</p>
    </footer>
</body>
</html>
